@page "/PasswordUpdate"  
@using System.ComponentModel.DataAnnotations  
@rendermode InteractiveServer  
@using BusinessLogic.Contracts  
@using BusinessLogic.Services
@using Models
@using ShoppingPOC.ViewModels


<h3>Pasword Update</h3>  
<EditForm model=@_user OnValidSubmit="HandlePasswordChange" FormName="formCambiarPassword">  
   @*  <DataAnnotationsValidator />  
    <ValidationSummary />  *@ 
    <div class="grid-container">  
        <div class="form-group">  
            <label for="newPassword">New Password</label>  
            <InputText id="newPassword" type="password" class="form-control" @bind-Value="NewPassword" /> 
            @* <ValidationMessage For="@(() => _user.NewPassword)" /> *@
        </div>  

        <div class="form-group">  
            <label for="confirPassword">Confirm Password</label>  
            <InputText id="confirPassword" type="password" class="form-control" @bind-Value="_user.Password" />
            @* <ValidationMessage For="@(() => _user.ConfirmPassword)" /> *@
        </div>
        @if (ShowMismatchMessage && NewPassword != _user.Password)
        {
            <div class="text-danger">Passwords do not match</div>
        }
        <div class="form-group mt-3">  
            <button type="submit" class="btn btn-primary">Save new password</button>  
        </div> 
        
    </div>
    
</EditForm>  

@code {  
    [Inject]  
    private ILoginService _loginService { get; set; }  

    [Inject]
    private NavigationManager _navManager { get; set; }
    
    [SupplyParameterFromForm(FormName = "formCambiarPassword")]  
    private User _user { get; set; } = new();
    private PasswordResetViewModel _resetState { get; set; } = new();
    
    private string NewPassword { get; set; } = string.Empty;
    private bool ShowMismatchMessage = false;

    private async Task HandlePasswordChange()  
    {  
        if (NewPassword != _user.Password)
         {  
            // Aquí puedes manejar el error, por ejemplo, mostrando un mensaje al usuario  
            ShowMismatchMessage = true;

            Console.WriteLine("Las contraseñas no coinciden.");  
            return;  
         }  
         
        await _loginService.ChangePasswordAsync(_resetState.Email, _user.Password);
        Console.WriteLine("Contraseña válida: " + _user.Password);  
        _navManager.NavigateTo("/");
    }  
}
