
@using BusinessLogic.Services
@inject NavigationManager _navManager
@using System.ComponentModel.DataAnnotations
@using Models
@using ShoppingPOC.ViewModels
@rendermode InteractiveServer

<h3>Code Validation</h3>

<div>
    <div class="grid-container">
    <div class="form-group">
            <label for="code">Enter the code sent:</label>
            <input id="code" class="form-control" @bind="_userInputCode" />
    </div>

    <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary" @onclick="ValidateCode">Validate</button>
    </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <p class="text-danger">@_errorMessage</p>
}

@code {
    [Parameter]
    public int ValidationCode { get; set; }

    private string _errorMessage { get; set; } = string.Empty;
    private int _attemptCount { get; set; } = 0;
    private int _userInputCode { get; set; } = new();

    private void ValidateCode()
    {
        Console.WriteLine($"UserCode: {ValidationCode}"); 
        Console.WriteLine($"ResetState.ValidationCode: {_userInputCode}");
        if (ValidationCode == _userInputCode)
        {
            _navManager.NavigateTo("/PasswordUpdate");
        }
        else
        {
            _attemptCount++;

            if (_attemptCount >= 3)
            {
                _errorMessage = string.Empty;
                _navManager.NavigateTo("/EmailValidation");
            }
            else
            {
                _errorMessage = $"Wrong code. Attempt {_attemptCount} of 3.";
            }
        }
    }
}