h3 {
    color: blue;
}

.grid-container {
    display: grid;
    justify-items: center; /* Centra el contenido horizontalmente en cada celda */
    align-items: center; /* Centra el contenido verticalmente en cada celda */
    width: 100%; /* El contenedor ocupa el ancho completo */
}

.btnlog {
    width: 221px;  
}

.form-group.position-relative {
    /* Asegura que el contenedor es el punto de referencia para el posicionamiento */
    position: relative;
}

.password-toggle {
    /* Posiciona el ícono dentro del input, no al lado */
    position: absolute;
    right: 15px; /* Ajusta la distancia desde la derecha del input */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajuste fino para el centrado */
    cursor: pointer; /* Cambia el cursor para indicar que es clicable */
    z-index: 100; /* Asegura que el ícono esté por encima del input */
}

.ChangePassword {
    /*hace que los elementos esten "dentro" del div*/
    display: flex;
    /*centra los elementos en el eje horizontal*/
    justify-content: center;
}
