@page "/Login"

@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer
@using BusinessLogic.Contracts
@using Models






<EditForm Model="@_user" OnValidSubmit="IniciarSesion" FormName="loginForm">
    <DataAnnotationsValidator />
       
    <h3>Login</h3>

    <div class="grid-container">

        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="username" class="form-control" @bind-Value="_user.Email" />
             
        </div>
        <ValidationMessage For="@(() => _user.Email)" />
        <div class="form-group mt-3 position-relative">
            <label for="password">Password</label>
            <InputText id="password" type="password" class="form-control" @bind-Value="_user.Password" />
            <span class="password-toggle" onclick="togglePasswordVisibility()">
            </span>
            
        </div>
        <ValidationMessage For="@(() => _user.Password)" />
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary btnlog">Log In</button>
        </div>
    </div>


</EditForm>

<div class="ChangePassword">

    <a 
       @onclick="NavigateToChangePassword"
       class="d-inline-block mt-2">I forgot my password</a>
</div>

@if (_spinner == "Home")
{

    <Spinner Label="Charging Home Page..."/>
}
else if (_spinner == "EmailValidation")
{
    <Spinner Label="Charging EmailValidation Page..." />
}
@code {

    [Inject]
    private ILoginService _loginService { get; set; }

    [Inject]
    private NavigationManager _navManager { get; set; }


    [SupplyParameterFromForm(FormName = "loginForm")]

    private User _user { get; set; } = new();
    private string _spinner { get; set; } = string.Empty;

    private async Task IniciarSesion()
    {

        var isValidUser = await _loginService.ValidateUserAsync(_user.Email, _user.Password);

        if (isValidUser)
        {

            _spinner = "Home";
            StateHasChanged(); // Force UI update to show the spinner

            await Task.Delay(2000); // Wait for 2 seconds

            _navManager.NavigateTo("/home");
            Console.WriteLine("Login successful");
        }
        else
        {
            Console.WriteLine("Invalid username or password");
        }
    }

    private async Task NavigateToChangePassword()
    {
        _spinner = "EmailValidation";
        StateHasChanged(); // Force UI update to show the spinner
        await Task.Delay(2000);
        _navManager.NavigateTo("/EmailValidation");
    }
}







