@page "/Login"

@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer
@using BusinessLogic.Contracts
@using Models

<EditForm Model="@_user" OnValidSubmit="HandleLoginSumit" FormName="loginForm">
    <DataAnnotationsValidator />
    <h3>Login</h3>

    <div class="grid-container">

        <div class="form-group mb-3">
            <label for="email">Email</label>
            <InputText id="email" class="form-control" @bind-Value="_user.Email" />
            <ValidationMessage For="@(() => _user.Email)" />
        </div>

        <div class="form-group mb-3">
            <label for="password">Password</label>
            <div class="password-wrapper">
                <InputText id="password" type="password" class="form-control" @bind-Value="_user.Password" />
                <span class="password-toggle" onclick="togglePasswordVisibility()">
                </span>
            </div>
            <ValidationMessage For="@(() => _user.Password)" />
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary btnlog">Log In</button>
        </div>
    </div>
</EditForm>
<br/>  

<div class="ChangePassword d-flex align-items-center">
    <a @onclick="NavigateToChangePassword" class="mt-2">I forgot my password</a>

    <div class="vr mx-3 mt-2"></div>

    <a @onclick="NavigateToRegisterUser" class="mt-2">Register</a>
</div>

<div class="grid-container">
@if (!string.IsNullOrEmpty(_userValidation))
{
    <div class="alert alert-info mt-3">@_userValidation</div>
}
</div>
@if (_spinner == "Home")
{
    <Spinner Label="Charging Home Page..."/>
}

@code {

    [Inject]
    private ILoginService _loginService { get; set; }

    [Inject]
    private NavigationManager _navManager { get; set; }

    [Inject]
    private UserSession _userSession { get; set; }


    [SupplyParameterFromForm(FormName = "loginForm")]

    private User _user { get; set; } = new();
    private string _spinner { get; set; } = string.Empty;
    private string _userValidation { get; set; } = string.Empty;

    private async Task HandleLoginSumit()
    {

        var isValidUser = await _loginService.ValidateUserAsync(_user.Email, _user.Password);

        if (isValidUser)
        {
            _userSession.CurrentUser = _user;

            _userValidation = "Login successful";
  
            _navManager.NavigateTo("/");
        }
        else
        {
            _userValidation = "Invalid username or password";
        }
    }

    private void NavigateToChangePassword()
    {
        _navManager.NavigateTo("/EmailValidation");
    }

    private void NavigateToRegisterUser()
    {

        _navManager.NavigateTo("/RegisterUser");
    }

}







