@using System.ComponentModel.DataAnnotations  
@rendermode InteractiveServer  
@using BusinessLogic.Contracts
<Component />@using BusinessLogic.Services
@using Models
@using ShoppingPOC.ViewModels


@if (IsVisible)
{
    <h3>Pasword Update</h3>
    <EditForm model=@_user OnValidSubmit="HandlePasswordChange" FormName="formCambiarPassword">

        <div class="grid-container">
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <InputText id="newPassword" type="password" class="form-control" @bind-Value="_newPassword" />
            </div>

            <div class="form-group">
                <label for="confirPassword">Confirm Password</label>
                <InputText id="confirPassword" type="password" class="form-control" @bind-Value="_user.Password" />
            </div>
            @if (_showMismatchMessage && _newPassword != _user.Password)
            {
                <div class="text-danger">Passwords do not match</div>
            }
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Save new password</button>
            </div>
            @if (!string.IsNullOrEmpty(_paswordValidation))
            {
                <div class="alert alert-info mt-3">@_paswordValidation</div>
            }
        </div>

    </EditForm>
}

@if (_spinner)
{
    <Spinner Label="Charging Login Page..." />
}

@code {
    [Parameter]
    public bool IsVisible { get; set; } = true;

    [Parameter]
    public string EmailValidation { get; set; }

    [Inject]  
    private ILoginService _loginService { get; set; }  

    [Inject]
    private NavigationManager _navManager { get; set; }

    [SupplyParameterFromForm(FormName = "formCambiarPassword")]  

    private User _user { get; set; } = new();
    private PasswordResetViewModel _resetState { get; set; } = new();
    private string _newPassword { get; set; } = string.Empty;
    private string _paswordValidation { get; set; } = string.Empty;
    private bool _showMismatchMessage = false;
    private bool _spinner = false;

    private async Task HandlePasswordChange()  
    {  
        if (_newPassword != _user.Password)
        {  
            _showMismatchMessage = true;  
            return;  
        }  
        Console.WriteLine("Email: " + EmailValidation);
        await _loginService.ChangePasswordAsync(EmailValidation, _user.Password);
        Console.WriteLine("Valid password: " + _user.Password); 
        _paswordValidation = "The password is match";
        StateHasChanged();
        await Task.Delay(1000);
        _spinner = true;
        StateHasChanged();
        await Task.Delay(2000);
        
        _navManager.NavigateTo("/Login");
    }  
}
